@use "../abstracts" as *;

.header__nav {
  flex-grow: 1;
}

.nav {
  &__list {
    display: flex;
    justify-content: center;

    &--item {
      padding: 0 20px;
      position: relative;

      a {
        display: block;
        padding: 10px;
      }

      &.is-selected {
        &::after {
          content: "";
          display: block;
          position: absolute;
          border: 1px solid $white;
          bottom: 0;
          left: 35%;
          width: 25%;
        }
      }
    }
  }
}
