%reset-box-model {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

%reset-list-model {
  list-style: none;
}

body * {
  @extend %reset-box-model;
  @extend %reset-list-model;
}

%a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}
