.features {
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    font-size: 0.875rem;
    gap: $gap;
}

.features strong {
    display: block;
    margin-bottom: 2px;
    font-size: 1rem;
    color: $primary;
}

.features a {
    text-decoration: none;
    color: $primary;
}
