/* Error: Undefined variable.
 *   ,
 * 5 |   --forground: #{$pink-50};
 *   |                  ^^^^^^^^
 *   '
 *   sass/config/_dark.scss 5:18  @forward
 *   sass/config/_index.scss 2:1  @use
 *   sass/base/_base.scss 1:1     @forward
 *   sass/base/_index.scss 1:1    @use
 *   sass/app.scss 1:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502    --forground: #{$pink-50};\a   \2502                   ^^^^^^^^\a   \2575 \a   sass/config/_dark.scss 5:18  @forward\a   sass/config/_index.scss 2:1  @use\a   sass/base/_base.scss 1:1     @forward\a   sass/base/_index.scss 1:1    @use\a   sass/app.scss 1:1            root stylesheet";
}
