/* Error: Undefined variable.
 *   ,
 * 2 |   $size: $base-font-size,
 *   |          ^^^^^^^^^^^^^^^
 *   '
 *   src/scss/abstracts/mixins/_dimensions.scss 2:10  font()
 *   src/scss/base/_typography.scss 8:3               @forward
 *   src/scss/base/_index.scss 2:1                    @use
 *   src/scss/main.scss 1:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    $size: $base-font-size,\a   \2502           ^^^^^^^^^^^^^^^\a   \2575 \a   src/scss/abstracts/mixins/_dimensions.scss 2:10  font()\a   src/scss/base/_typography.scss 8:3               @forward\a   src/scss/base/_index.scss 2:1                    @use\a   src/scss/main.scss 1:1                           root stylesheet";
}
